.ModalTitulo {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: calc(0.8vw + 0.8vh);
    margin: calc(0.5vw + 0.5vh);
    height: calc(1.5vw + 1.5vh);
    line-height: calc(1vw + 1vh);


}


.ModalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(97, 153, 155, 0.486);
    z-index: 3;
}

.Modal {
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: fit-content;
    height: fit-content;
    max-height: calc(50vw + 50vh);
    background-color: rgb(255, 255, 255);
    border-radius: calc(2vw + 2vh);
    box-shadow: calc(-0.2vw + -0.2vh) calc(0.2vw + 0.2vh)  rgba(97, 153, 155, 0.486);
    padding: calc(0.5vw + 0.5vh);
}



.botonContainer {
    display: flex;
    align-items: center;
    width: fit-content;
    height: calc(1.5vw + 1.5vh); 
    padding: calc(1vw + 1vh);
    margin-inline: calc(1vw + 1vh); 
    margin-top: auto;
    
}
.botonSubir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(5vw + 5vh);
    height: calc(1.5vw + 1.5vh); 
    background-color: green;
    color: black;
    border-radius: calc(2vw + 2vh);

    padding: calc(1vw + 1vh);
    font-size: calc(1vw + 1vh);
    line-height: calc(1vw + 1vh); 
    margin-inline: calc(1vw + 1vh);
}
.botonCancelar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(5vw + 5vh);
    height: calc(1.5vw + 1.5vh); 
    background-color: rgb(197, 0, 0);
    color: black;
    border-radius: calc(2vw + 2vh);

    padding: calc(1vw + 1vh);
    font-size: calc(1vw + 1vh); 
    line-height: calc(1vw + 1vh); 
    margin-inline:  calc(1vw + 1vh);
}

.botonSubir:hover {

    background-color: rgb(135, 209, 135);

}

.botonCancelar:hover {
    background-color: rgb(211, 99, 99);

}

.botonOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: calc(1.5vw + 1.5vh); 
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: calc(2vw + 2vh);
    border: solid rgb(109, 109, 109) calc(0.1vw + 0.1vh);
    padding: calc(1vw + 1vh);
    font-size: calc(1vw + 1vh); 
    line-height: calc(1vw + 1vh); 
    margin-inline:  calc(1vw + 1vh);
}
.botonOption:hover {

    background-color: rgb(177, 177, 177);

}


.InputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(0.5vw + 0.5vh);
    width: 100%;
    border-radius: calc(0.5vw + 0.5vh);
    outline: calc(0.1vw + 0.1vh) solid rgb(218, 218, 218);
}


.InputContainer:focus-within {
    outline: calc(0.2vw + 0.2vh) solid rgb(170, 193, 255);
}


.InputTitulo {
    display: flex;
    align-items: center;
    height: calc(1vh + 1vw);
    width: fit-content;
    color: black;
    font-size: calc(1vh + 1vw);
    border-right: calc(0.1vh + 0.1vw) solid rgb(218, 218, 218);
    padding: calc(0.5vw + 0.5vh);
    white-space: nowrap; 
}


.InputContainer:focus-within .InputTitulo  {
    border-right: calc(0.1vh + 0.1vw) solid rgb(170, 193, 255);
}

.Input {
    height: calc(1vh + 1vw);
    width: 100%;
    margin-left: calc(0.2vh + 0.2vw);
    font-size: calc(1vh + 1vw);
    height: calc(1.5vh + 1.5vw);
}

.Input:focus {
    outline: none;
}

.SectionsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(25vw + 25vh);
}


.Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(66, 110, 128)  rgb(193, 255, 252);
    margin: 10%;
}


.listElement {
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 218, 252);
  color: black;
  margin: calc(0.5vh + 0.5vw);
  padding: calc(1vh + 1vw);
  border-radius: 10%;
  width: fit-content;
  height: fit-content;
  transition: 0.2s;
}

.listElementSelected {
    display: flex;
    flex-direction: column;
    background-color: rgb(98, 255, 138);
    color: black;
    margin: calc(0.5vh + 0.5vw);
    padding: calc(1vh + 1vw);
    border-radius: 10%;
    width: fit-content;
    height: fit-content;
    transition: 0.2s;
}

.listElement:hover {

    background-color: rgb(177, 180, 197);
    transition: 0.2s;
  }

.listData {
    display: flex;
    align-items: center;
    font-size: calc(0.6vw + 0.6vh);
    font-weight: bold;
    height: calc(1vw + 1vh);
    line-height: calc(0.5vw + 0.5vh);
}

.MessageSuccess {
    color: greenyellow;
    font-size: calc(0.5vw + 0.5vh);
}

.MessageError {
    color: red;
    font-size: calc(0.5vw + 0.5vh);
}