.Menu {
    display: flex;
    background-color: rgb(32, 32, 32);
    position: sticky;
    top: 0px;
    justify-content:flex-start;
    align-items: center;
    height: 10%;
    z-index: 2;
}


.boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(1vw + 1vh); 
}

.botonLink {
    display: flex;
    align-items: center;
    width: fit-content;
    height: calc(1.5vw + 1.5vh); 
    padding: calc(0.5vw + 0.5vh);
    margin-inline: calc(1vw + 1vh); 
}

.botonLink:hover {    
    box-shadow:  calc(-0.2vw + -0.2vh) calc(0.2vw + 0.2vh) rgb(26, 25, 25);
    background-color: rgb(39, 39, 39);
    transition: 0.2s;
}


.UploadBoton {
    font-size: calc(1.5vw + 1.5vh); 
}