* {
    font-size: calc(0.6vw + 0.6vh);
}


.SearchBarContainer {
    display: flex;
    justify-content: center;
    padding: calc(0.8vw + 0.8vh);
    padding-block: calc(0.4vw + 0.4vh);
    width: 50%;
    height: fit-content;
    border-radius: calc(20vw + 20vh);
    outline: calc(0.1vw + 0.1vh) solid rgb(218, 218, 218);
}

.SearchBarContainer:focus-within {
    outline: calc(0.2vw + 0.2vh) solid rgb(170, 193, 255);
}

.SearchBar {
    height: calc(1vh + 1vw);
    width: 100%;
    
    font-size: calc(0.6vh + 0.6vw);
    height: calc(1.5vh + 1.5vw);
}

.SearchBar:focus {
    outline: none;
}


.SearchIcon {
    width: calc(1.5vh + 1.5vw);
    height:calc(1.5vh + 1.5vw);
}